<main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <h1 class="bd-title" id="content">Buttons</h1>
  <p class="bd-lead">
    Use Bootstrap’s custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and
    more.
  </p>

  <h2 id="examples">
    <span class="bd-content-title"
      >Examples<a
        aria-label="Anchor"
        class="anchorjs-link"
        data-anchorjs-icon="#"
        href="#examples"
        style="padding-left: 0.375em"
      ></a
    ></span>
  </h2>

  <p>
    Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for
    more control.
  </p>

  <div class="bd-example">
    <button class="btn btn-primary" type="button">Primary</button>
    <button class="btn btn-secondary" type="button">Secondary</button>
    <button class="btn btn-success" type="button">Success</button>
    <button class="btn btn-danger" type="button">Danger</button>
    <button class="btn btn-warning" type="button">Warning</button>
    <button class="btn btn-info" type="button">Info</button>
    <button class="btn btn-light" type="button">Light</button>
    <button class="btn btn-dark" type="button">Dark</button>
    <button class="btn btn-link" type="button">Link</button>
  </div>
  <br />
  <pre><code [highlight]="exampleCode1" [languages]="['html']"></code></pre>

  <div class="bd-callout bd-callout-warning">
    <h5 id="conveying-meaning-to-assistive-technologies">Conveying meaning to assistive technologies</h5>

    <p>
      Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies
      – such as screen readers. Ensure that information denoted by the color is either obvious from the content itself (e.g. the
      visible text), or is included through alternative means, such as additional text hidden with the
      <code class="highlighter-rouge">.sr-only</code> class.
    </p>
  </div>

  <h2 id="disable-text-wrapping">
    <span class="bd-content-title"
      >Disable text wrapping<a
        aria-label="Anchor"
        class="anchorjs-link"
        data-anchorjs-icon="#"
        href="#disable-text-wrapping"
        style="padding-left: 0.375em"
      ></a
    ></span>
  </h2>

  <p>
    If you don’t want the button text to wrap, you can add the <code class="highlighter-rouge">.text-nowrap</code> class to the
    button. In Sass, you can set <code class="highlighter-rouge">$btn-white-space: nowrap</code> to disable text wrapping for each
    button.
  </p>

  <h2 id="button-tags">
    <span class="bd-content-title"
      >Button tags<a
        aria-label="Anchor"
        class="anchorjs-link"
        data-anchorjs-icon="#"
        href="#button-tags"
        style="padding-left: 0.375em"
      ></a
    ></span>
  </h2>

  <p>
    The <code class="highlighter-rouge">.btn</code> classes are designed to be used with the
    <code class="highlighter-rouge">&lt;button&gt;</code> element. However, you can also use these classes on
    <code class="highlighter-rouge">&lt;a&gt;</code> or <code class="highlighter-rouge">&lt;input&gt;</code> elements (though some
    browsers may apply a slightly different rendering).
  </p>

  <p>
    When using button classes on <code class="highlighter-rouge">&lt;a&gt;</code> elements that are used to trigger in-page
    functionality (like collapsing content), rather than linking to new pages or sections within the current page, these links
    should be given a <code class="highlighter-rouge">role="button"</code> to appropriately convey their purpose to assistive
    technologies such as screen readers.
  </p>

  <div class="bd-example">
    <a class="btn btn-primary" href="#" role="button">Link</a>
    <button class="btn btn-primary" type="submit">Button</button>
    <input class="btn btn-primary" type="button" value="Input" />
    <input class="btn btn-primary" type="submit" value="Submit" />
    <input class="btn btn-primary" type="reset" value="Reset" />
  </div>
  <br />
  <pre><code [highlight]="exampleCode2" [languages]="['html']"></code></pre>

  <h2 id="outline-buttons">
    <span class="bd-content-title"
      >Outline buttons<a
        aria-label="Anchor"
        class="anchorjs-link"
        data-anchorjs-icon="#"
        href="#outline-buttons"
        style="padding-left: 0.375em"
      ></a
    ></span>
  </h2>

  <p>
    In need of a button, but not the hefty background colors they bring? Replace the default modifier classes with the
    <code class="highlighter-rouge">.btn-outline-*</code> ones to remove all background images and colors on any button.
  </p>

  <div class="bd-example" style="background: #fff">
    <button class="btn btn-outline-primary" type="button">Primary</button>
    <button class="btn btn-outline-secondary" type="button">Secondary</button>
    <button class="btn btn-outline-success" type="button">Success</button>
    <button class="btn btn-outline-danger" type="button">Danger</button>
    <button class="btn btn-outline-warning" type="button">Warning</button>
    <button class="btn btn-outline-info" type="button">Info</button>
    <button class="btn btn-outline-light" type="button">Light</button>
    <button class="btn btn-outline-dark" type="button">Dark</button>
  </div>
  <br />
  <pre><code [highlight]="exampleCode3" [languages]="['html']"></code></pre>

  <h2 class="mt-4 mb-4" id="button-icon">
    Button Icon <a [fragment]="'buttonIcon'" [routerLink] class="anchor-link" id="buttonIcon">#</a>
  </h2>

  <p>
    When you want to use an icon (either an SVG or image icon) as a button, you need to add the <code>.btn-icon</code> button
    class.<br />
    If you want to use a picture as a button (not an SVG), you'll need to add the <code>.btn-icon-child</code> to the button
    child.
  </p>

  <p>
    By default we natively support SVG icons (and of course the clarity icons <code>&lt;clr-icon&gt;</code>) color changing for
    hover, disabled and focus states, but for any other kind of icon types (<code>.btn-icon-child</code>), we only set the opacity
    to 60% for disabled state, and we set the opacity to 80% for hover and focus states.
  </p>

  <div class="bd-example" style="background: #fff">
    <button class="btn btn-icon" type="button">
      <clr-icon shape="fui-eye"></clr-icon>
    </button>
    <button class="btn btn-icon" disabled type="button">
      <clr-icon shape="fui-chat"></clr-icon>
    </button>
    <button class="btn btn-icon" type="button">
      <img alt="US flag" class="btn-icon-child" height="24" src="https://www.countryflags.io/US/shiny/24.png" width="24" />
    </button>
    <button class="btn btn-icon" disabled type="button">
      <img
        alt="US disabled flag"
        class="btn-icon-child"
        height="24"
        src="https://www.countryflags.io/US/shiny/24.png"
        width="24"
      />
    </button>
  </div>

  <br />
  <pre><code [highlight]="exampleCode14" [languages]="['html']"></code></pre>

  <h2 id="sizes">
    <span class="bd-content-title"
      >Sizes<a aria-label="Anchor" class="anchorjs-link" data-anchorjs-icon="#" href="#sizes" style="padding-left: 0.375em"></a
    ></span>
  </h2>

  <p>
    Fancy larger or smaller buttons? Add <code class="highlighter-rouge">.btn-lg</code> or
    <code class="highlighter-rouge">.btn-sm</code> for additional sizes. If not provided, by default the regular size is used.
  </p>

  <div class="bd-example">
    <button class="btn btn-primary btn-lg" type="button">Large button</button>
    <button class="btn btn-secondary btn-lg" type="button">Large button</button>
  </div>
  <br />
  <pre><code [highlight]="exampleCode4" [languages]="['html']"></code></pre>

  <div class="bd-example">
    <button class="btn btn-primary" type="button">Regular button</button>
    <button class="btn btn-secondary" type="button">Regular button</button>
  </div>
  <br />
  <pre><code [highlight]="exampleCode13" [languages]="['html']"></code></pre>

  <div class="bd-example">
    <button class="btn btn-primary btn-sm" type="button">Small button</button>
    <button class="btn btn-secondary btn-sm" type="button">Small button</button>
  </div>
  <br />
  <pre><code [highlight]="exampleCode5" [languages]="['html']"></code></pre>

  <p>
    Create block level buttons—those that span the full width of a parent—by adding
    <code class="highlighter-rouge">.btn-block</code>.
  </p>

  <div class="bd-example">
    <button class="btn btn-primary btn-lg btn-block" type="button">Block level button</button>
    <button class="btn btn-secondary btn-lg btn-block" type="button">Block level button</button>
  </div>
  <br />
  <pre><code [highlight]="exampleCode6" [languages]="['html']"></code></pre>

  <h2 id="active-state">
    <span class="bd-content-title"
      >Active state<a
        aria-label="Anchor"
        class="anchorjs-link"
        data-anchorjs-icon="#"
        href="#active-state"
        style="padding-left: 0.375em"
      ></a
    ></span>
  </h2>

  <p>
    Buttons will appear pressed (with a darker background, darker border, and inset shadow) when active.
    <strong
      >There’s no need to add a class to <code class="highlighter-rouge">&lt;button&gt;</code>s as they use a pseudo-class</strong
    >. However, you can still force the same active appearance with <code class="highlighter-rouge">.active</code> (and include
    the <code>aria-pressed="true"</code> attribute) should you need to replicate the state programmatically.
  </p>

  <div class="bd-example">
    <a aria-pressed="true" class="btn btn-primary btn-lg active" href="#" role="button">Primary link</a>
    <a aria-pressed="true" class="btn btn-secondary btn-lg active" href="#" role="button">Link</a>
  </div>
  <br />
  <pre><code [highlight]="exampleCode7" [languages]="['html']"></code></pre>

  <h2 id="disabled-state">
    <span class="bd-content-title"
      >Disabled state<a
        aria-label="Anchor"
        class="anchorjs-link"
        data-anchorjs-icon="#"
        href="#disabled-state"
        style="padding-left: 0.375em"
      ></a
    ></span>
  </h2>

  <p>
    Make buttons look inactive by adding the <code class="highlighter-rouge">disabled</code> boolean attribute to any
    <code class="highlighter-rouge">&lt;button&gt;</code> element.
  </p>

  <div class="bd-example">
    <button class="btn btn-lg btn-primary" disabled="" type="button">Primary button</button>
    <button class="btn btn-secondary btn-lg" disabled="" type="button">Button</button>
  </div>
  <br />
  <pre><code [highlight]="exampleCode8" [languages]="['html']"></code></pre>

  <p>Disabled buttons using the <code class="highlighter-rouge">&lt;a&gt;</code> element behave a bit different:</p>

  <ul>
    <li>
      <code class="highlighter-rouge">&lt;a&gt;</code>s don’t support the
      <code class="highlighter-rouge">disabled</code> attribute, so you must add the
      <code class="highlighter-rouge">.disabled</code> class to make it visually appear disabled.
    </li>
    <li>
      Some future-friendly styles are included to disable all <code class="highlighter-rouge">pointer-events</code> on anchor
      buttons. In browsers which support that property, you won’t see the disabled cursor at all.
    </li>
    <li>
      Disabled buttons should include the <code class="highlighter-rouge">aria-disabled="true"</code> attribute to indicate the
      state of the element to assistive technologies.
    </li>
  </ul>

  <div class="bd-example">
    <a aria-disabled="true" class="btn btn-primary btn-lg disabled" href="#" role="button" tabindex="-1">Primary link</a>
    <a aria-disabled="true" class="btn btn-secondary btn-lg disabled" href="#" role="button" tabindex="-1">Link</a>
  </div>
  <br />
  <pre><code [highlight]="exampleCode9" [languages]="['html']"></code></pre>

  <div class="bd-callout bd-callout-warning">
    <h5 id="link-functionality-caveat">Link functionality caveat</h5>

    <p>
      The <code class="highlighter-rouge">.disabled</code> class uses
      <code class="highlighter-rouge">pointer-events: none</code> to try to disable the link functionality of
      <code class="highlighter-rouge">&lt;a&gt;</code>s, but that CSS property is not yet standardized. In addition, even in
      browsers that do support <code class="highlighter-rouge">pointer-events: none</code>, keyboard navigation remains
      unaffected, meaning that sighted keyboard users and users of assistive technologies will still be able to activate these
      links. So to be safe, add a <code class="highlighter-rouge">tabindex="-1"</code> attribute on these links (to prevent them
      from receiving keyboard focus) and use custom JavaScript to disable their functionality.
    </p>
  </div>

  <h2 id="button-plugin">
    <span class="bd-content-title"
      >Button plugin<a
        aria-label="Anchor"
        class="anchorjs-link"
        data-anchorjs-icon="#"
        href="#button-plugin"
        style="padding-left: 0.375em"
      ></a
    ></span>
  </h2>

  <p>Do more with buttons. Control button states or create groups of buttons for more components like toolbars.</p>

  <h3 id="toggle-states">
    <span class="bd-content-title"
      >Toggle states<a
        aria-label="Anchor"
        class="anchorjs-link"
        data-anchorjs-icon="#"
        href="#toggle-states"
        style="padding-left: 0.375em"
      ></a
    ></span>
  </h3>

  <p>
    Add <code class="highlighter-rouge">data-toggle="button"</code> to toggle a button’s
    <code class="highlighter-rouge">active</code> state. If you’re pre-toggling a button, you must manually add the
    <code class="highlighter-rouge">.active</code> class <strong>and</strong>
    <code class="highlighter-rouge">aria-pressed="true"</code> to the <code class="highlighter-rouge">&lt;button&gt;</code>.
  </p>

  <div class="bd-example">
    <button aria-pressed="false" class="btn btn-primary" data-toggle="button" type="button">Single toggle</button>
  </div>
  <br />
  <pre><code [highlight]="exampleCode10" [languages]="['html']"></code></pre>

  <h3 id="checkbox-and-radio-buttons">
    <span class="bd-content-title"
      >Checkbox and radio buttons<a
        aria-label="Anchor"
        class="anchorjs-link"
        data-anchorjs-icon="#"
        href="#checkbox-and-radio-buttons"
        style="padding-left: 0.375em"
      ></a
    ></span>
  </h3>

  <p>
    Bootstrap’s <code class="highlighter-rouge">.button</code> styles can be applied to other elements, such as
    <code class="highlighter-rouge">&lt;label&gt;</code>s, to provide checkbox or radio style button toggling. Add
    <code class="highlighter-rouge">data-toggle="buttons"</code> to a <code class="highlighter-rouge">.btn-group</code>
    containing those modified buttons to enable their toggling behavior via JavaScript and add
    <code class="highlighter-rouge">.btn-group-toggle</code> to style the <code class="highlighter-rouge">&lt;input&gt;</code>s
    within your buttons. <strong>Note that you can create single input-powered buttons or groups of them.</strong>
  </p>

  <p>
    The checked state for these buttons is <strong>only updated via <code class="highlighter-rouge">click</code> event</strong> on
    the button. If you use another method to update the input—e.g., with
    <code class="highlighter-rouge">&lt;input type="reset"&gt;</code> or by manually applying the input’s
    <code class="highlighter-rouge">checked</code> property—you’ll need to toggle
    <code class="highlighter-rouge">.active</code> on the <code class="highlighter-rouge">&lt;label&gt;</code> manually.
  </p>

  <p>
    Note that pre-checked buttons require you to manually add the <code class="highlighter-rouge">.active</code> class to the
    input’s <code class="highlighter-rouge">&lt;label&gt;</code>.
  </p>

  <div class="bd-example">
    <div class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active"> <input checked="" type="checkbox" /> Checked </label>
    </div>
  </div>
  <br />
  <pre><code [highlight]="exampleCode11" [languages]="['html']"></code></pre>

  <div class="bd-example">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active"> <input checked="" id="option1" name="options" type="radio" /> Active </label>
      <label class="btn btn-secondary"> <input id="option2" name="options" type="radio" /> Radio </label>
      <label class="btn btn-secondary"> <input id="option3" name="options" type="radio" /> Radio </label>
    </div>
  </div>
  <br />
  <pre><code [highlight]="exampleCode12" [languages]="['html']"></code></pre>
</main>
